<table>
  <tr>
    <td>
      <h1>Profile Information</h1>
      <strong>User Name:</strong> <br> <%= @user.name %><br />
	  <strong>Email: </strong>  <br> <%= @user.email %>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      <% unless @user.microposts.empty? %>
        <% @user.microposts.each do |post| %>
        
          <p>At <%= post.created_at.in_time_zone("Pacific Time (US & Canada)") %> <br><%= link_to User.find(post.user_id).name, "/users/#{post.user_id}"%> says about <%= link_to Show.find(post.show_id).name, "/shows/#{post.show_id}"%>:</p>
          <p><%= post.content %></p>
        <% end %>
          <!--<%= render @microposts %>-->
        <%= will_paginate @microposts %>
      <% end %>
    </td>
  </tr>
</table>


