<h1>Request a Show</h1>
	<%= form_tag("/newshow", :method => "post") do %>
		<%= label_tag(:name, "Enter the name of the show you want to add to ToobSteak: ") %><br />
		<%= text_field_tag(:name) %><br />
		<%= submit_tag("Submit") %>
	<% end %>

<p><%= @show %></p>