<div class="showPage">
	<body>
<div class="showName">
	<h1><%= @show.name %><br \></h1>
</div> <!-- class="showName"-->

<div class="additionalShowInfo">
	<strong>Network:</strong> <%= @show.network %><br \>
	<strong>Air Time:</strong> <%= @show.airtime %><br \>
	<strong>Air Day:</strong> <%= @show.airday %><br \>
	<strong>Genre:</strong> <%= @show.genre %><br \>
	<strong>Length:</strong> <%= @show.minutes %> minutes<br \>
	<strong>Rating:</strong> <%= @show.rating %><br \>
</div><!-- class="additionalShowInfo"-->
<br>
<strong>Number of Microposts:</strong> <%= @show.microposts.count %><br \>
<div class="showDescription">
	<strong>Description:</strong> <%= @show.description %><br \>
</div> <!-- class="showDescription"-->
	<!-- Banner: <%= @show.banner %> <br \>
	<%= image_tag "http://www.thetvdb.com/banners/#{@show.banner}" %> -->
	<!-- I can't get this image tag to actually work in Localhost, but the URL this generates is valid. Right click, copy image url, and paste it into your browser. Ideas? -->
	</body>
</div>


<table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">Comment on <%= @show.name %></h1>
        <%= render 'shared/micropost_form' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/show_info' %>
      </td>
    </tr>
</table>

<table>
  <tr>
    <td>
      <% unless @show.microposts.empty? %>
        <% @show.microposts.each do |post| %>
        
          <p>At <%= post.created_at %> <br><%= User.find(post.user_id).name %> says:</p>
          <p><%= post.content %> </p>
        
        <% end %>
          <!--<%= render @microposts %>-->
        <%= will_paginate @microposts %>
      <% end %>
    </td>
  </tr>
</table>
