	<!DOCTYPE html>
	<html>
		<head>
			<title>Welcome to ToobSteak!</title>
				<%= csrf_meta_tag %>
				<%= render 'layouts/stylesheets' %>
		</head>
		<body>
  
<div class="container">
		<header>
			<a href="/" </a><%= image_tag("logo.png", :alt => "ToobSteak Home", :class => "round shadow") %>
		</header>


<div class = "navigationBar">
<div class = "span-4">				
<nav class = "round shadow">

			<%= link_to "All Users", users_path %><br>
			<%= link_to "All Shows", shows_path %><br>
        <% if signed_in? %>
			<%= link_to "Profile", current_user %><br>
			<%= link_to "Edit Profile", edit_user_path(current_user) %><br>
			Not <%= current_user.name%>? <%= link_to "Sign out", signout_path, :method => :delete %><br>
		<% else %>
			<%= link_to "Sign up now!", signup_path %> (New user?)<br>
			<%= link_to "Sign in", signin_path %><br>
		<% end %>
			<%= link_to "New show", newshow_path%>
			</ul>

</nav>
</div> <!-- class = "span 4" -->
</div> <!-- class = "navigationBar" -->


<section class="round shadow">
			<% flash.each do |key, value| %>
<div class="flash <%= key %>">
			<%= value %>
</div> <!-- class="flash">
			<% end %>
			<%= yield %>
</section>
		<footer>
		<nav class = "round shadow">
			<%= link_to "Home", '/' %> | 
			<%= link_to "About", '/about' %> | 
			<%= link_to "Contact", '/contact' %> | 
			<%= link_to "Help",  '/help' %>
		</nav>
		</footer>
</div> <!-- class="container"-->
		</body>
	</html>
